.navbar {
  background-color: #343A40;
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  margin: 0 auto; /* center horizontally */
  display: flex;
  gap: 24px;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-link:hover {
  text-decoration: underline;
}
