body {
  background-color: #a0a0a0;
  color: #212529;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background: #E9ECEF;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.03);
}

.card img {
  margin-bottom: 10px;
}


.card button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #0a79df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #0c5adb;
}

.discount-box {
  background: #E9ECEF;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


.success {
  color: green;
  font-weight: bold;
}

.totals {
  margin-top: 10px;
}

button {
  background-color: #6C757D;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #495057;
}

.wa-button {
  background-color: #6C757D;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.wa-button:hover {
  background-color: #495057;
}

.navbar {
  background-color: #343A40;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  justify-content: center;
  gap: 10px;
}