body {
  font-family: sans-serif;
  margin: 0;
  background: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
}

.card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card img {
  margin-bottom: 10px;
}


.card button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #0a79df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #0c5adb;
}

.discount-box {
  margin-top: 30px;
  text-align: center;
}

.discount-box input {
  padding: 6px;
  margin-right: 10px;
}

.discount-box button {
  padding: 6px 12px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
}

.success {
  color: green;
  font-weight: bold;
}

.totals {
  margin-top: 10px;
}

.wa-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #25D366; /* Warna hijau WhatsApp */
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.wa-button:hover {
  background-color: #1ebe5d;
}